<button class="join" data-toggle="modal" data-target="#signUpModal"> Join </button>

<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel">Connecting you with people!</h5>
      </div>
      <div class="modal-body">
        <form #myForm="ngForm" (ngSubmit)="addUser(email, birthdate, fullname, phone, gender)" ngNativeValidate>
          <div class="form-group">
            <label for="email">Email address</label>
            <input required type="text" class="form-control" value="test" #email>
          </div>
          <div class="form-group">
            <label for="birthDate">Birth Date</label>
            <input required type="text" class="form-control" value="test" #birthdate>
          </div>
          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input required type="text" class="form-control" value="test" #fullname>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input required type="text" class="form-control" value="test" #phone>
          </div>
          <label for="gender">Gender</label>
          <select required class="form-control" #gender>
            <option>Male</option>
            <option>Female</option>
          </select>
          <br/>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>