<div class="wrapper">
    <div class="container">
        <div class="header row">
            <div class="col col-10 align-items-start"> 
                <p class="logo">DB GUI</p>    
            </div>
            <app-signup [afterSignUp]="afterSignUp" class="col col-2 align-items-end text-right"></app-signup>
        </div>



        <app-signup *ngIf="false"></app-signup>
        <div *ngIf="afterSignUp" class="row">
            <app-userlist [afterSignUp]="afterSignUp" class="col"></app-userlist>
        </div>
    </div>

</div>